body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: x-large;
    margin: 5px;
    color: #26547C;
}

.tituloDiario {
    display: none;
}

.imageLogo {
    width: 70px;
}

.menuHamburguesa {
    color: white;
    font-size: xx-large;
}

.nav {
    background-color: #26547C;
    display: flex;
    justify-content: right;
    padding: 10px;
}

.nav_ul {
    display: none;
    text-decoration: none;
}

.nav ul a {
    color: white;
    text-decoration: none;
    padding-left: 20px;
    font-weight: bold;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
    /* Transición suave para el cambio de tamaño y sombra */
}

.nav ul a:hover {
    color: white;
    /* Mantén el color del texto blanco */
    transform: scale(1.1);
    /* Agranda solo el texto */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    /* Sombra de texto blanca */
}
.Noticias {
    margin-top: 10px;
}

.noticia {

    padding: 3px;
    border-radius: 1px;
}

.noticia a {
    text-decoration: none;
    color: black;
}

.tituloDescripcion p {
    color: gray;
}

.descripcionBreve {
    font-weight: 600;
    margin: 0px;
}

.imgNoticia {
    width: 95%;
    margin: 0 auto;
    display: block;
    padding: 0;
}

.columna-2 {
    display: none;
}

.columna-3 {
    display: none;
}

.noticia h1 {
    display: none;
}

.noticia h2 {
    margin: 0;
    transition: font-size 0.3s ease;
    /* Añade transición suave para el cambio de tamaño */
}

.noticia h2:hover {
    font-size: xx-large;
    /* Cambia el tamaño de la fuente al pasar el mouse */
}

.footer {
    padding: 20px;
    background-color: #26547C;
    color: white;
    /* Color de texto blanco */
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan en pantallas más pequeñas */
}

.footer-section {
    flex: 1;
    max-width: 200px;
    margin: 10px;
}

.footer h4,
.footer h5,
.footer p,
.footer a {
    color: white;
    text-decoration: none;
    font-size: medium;
}

.footer a:hover {
    text-decoration: underline;
   
}

.footer-section.contact,
.footer-section.social,
.footer-section.links {
    display: none;
}

.tituloForm {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btnPosition {
    display: flex;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input {
    padding: 8px;
    box-sizing: border-box;
}

button {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 15px 70px;
    background-color: white;
    border-radius: 5px;
    font-size: unset;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    transform: scale(1.05);
    /* Efecto de agrandamiento al pasar el ratón */
}

button:active {
    background-color: #26547C;
    color: white;
    /* Color de fondo al hacer clic */
    transform: scale(0.95);
    /* Efecto de reducción al hacer clic */
}

.error {
    color: red;
    font-size: 12px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}