body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: x-large;
    margin: 5px;
    color: #26547C;
}

.tituloDiario {
    display: none;
}

.imageLogo {
    width: 70px;
}

.menuHamburguesa {
    color: white;
    font-size: xx-large;
}

.nav {
    background-color: #26547C;
    display: flex;
    justify-content: right;
    padding: 10px;
}

.nav_ul {
    display: none;
    text-decoration: none;
}

.nav ul a {
    color: white;
    text-decoration: none;
    padding-left: 20px;
    font-weight: bold;
}

.Noticias {
    margin-top: 10px;
}

.noticia {

    padding: 3px;
    border-radius: 1px;
}

.noticia a {
    text-decoration: none;
    color: black;
}

.tituloDescripcion p {
    color: gray;
}

.descripcionBreve {
    font-weight: 600;
    margin: 0px;
}

.imgNoticia {
    width: 95%;
    margin: 0 auto;
    display: block;
    padding: 0;
}

.columna-2 {
    display: none;
}

.columna-3 {
    display: none;
}

.noticia h1 {
    display: none;
}

.noticia h2 {
    margin: 0;
    transition: font-size 0.3s ease;
    /* Añade transición suave para el cambio de tamaño */
}

.noticia h2:hover {
    font-size: xx-large;
    /* Cambia el tamaño de la fuente al pasar el mouse */
}

.footer {
    padding: 20px;
    background-color: #26547C;
    color: white;
    /* Color de texto blanco */
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan en pantallas más pequeñas */
}

.footer-section {
    flex: 1;
    max-width: 200px;
    margin: 10px;
}

.footer h4,
.footer h5,
.footer p,
.footer a {
    color: white;
    /* Color de texto blanco */
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
    /* Subraya el texto al pasar el ratón */
}

.footer-section.contact,
.footer-section.social,
.footer-section.links {
    display: none;
}

