body {
    font-family: 'Roboto', sans-serif;
    background-color: antiquewhite;
    
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: x-large;
    margin: 5px;
}

.menuHamburguesa {
    color: white;
    font-size: xx-large;

}

.nav {
    background-color: black;
    display: flex;
    justify-content: right;
    padding: 10px;
}

.nav_ul {
    display: none;
    text-decoration: none;
}

.nav ul a {
    color: white;
    text-decoration: none;
    padding-left: 20px;
    font-weight: bold;
}

.Noticias {
    margin-top: 10px;
}

.noticia {
    background-color: aliceblue;
    padding-left: 10px;
}

.noticia a {
    text-decoration: none;
    color: black;
}

.tituloDescripcion {}

.imgNoticia {
    width: 100%;
    padding: 0;
}


.columna {}

.columna-2 {
    display: none;
}
 .noticia h1 {
display: none;
 }

 .noticia h2 {
margin: 0;
 }

.footer{
    padding-left: 10px;
}


@media screen and (min-width: 1025px) {
    .menuHamburguesa {
        display: none;
    }

    .nav_ul {
        display: block;
    }

    .nav {
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    h1 {
        font-size: xx-large;
        margin: 10px;
    }
     .columna-2 p{
        margin: 0;
    }

    .filas {
        display: flex;
        justify-content: center; /* Centra horizontalmente las columnas */
        gap: 16px; /* Espacio entre columnas */
    }

    .columna {
        
        background: #f4f4f4;
        padding: 2px;
        border: 2px solid #ddd; 
        box-sizing: border-box; /* Incluye padding y border en el tamaño total del elemento */
    }

    .columna-2 {
        display: block;
    }

    .columna-1 {
        flex: 3;
    }

    .columna-2 {
        flex: 1;
        /* margin: auto;  Para que quede alineado con la principal*/
        /* Centra las columnas laterales */
    }
         .noticia h1 {
         display: block;
         }

    .imgNoticia {
        width: 100%;
    }
    h2{
        padding: 0px;
    }
   
    .columna-2 .noticia {
             margin-bottom: 20px; /*Espacio entre cada noticias */
        }
        .columna-1 .noticia{
            margin-bottom: 20px;
        }
}